<template>
  <button :class="{ light: light }" class="button">{{ text }}</button>
</template>

<script>
export default {
  props: {
    text: { type: String, required: true },
    light: { type: Boolean, default: false },
  },
}
</script>

<style lang="scss">
.button {
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  background-color: #3498db;

  &:hover {
    background-color: darken($color: #3498db, $amount: 10);
  }

  &.light {
    color: black;
    background-color: white;

    &:hover {
      background-color: darken($color: white, $amount: 10);
    }
  }
}
</style>
