<template>
  <div class="calendar">
    <div class="controls">
      <p class="month">{{ month }} {{ currentYear }}</p>
      <div class="prev-next">
        <!-- <font-awesome-icon
          :icon="['fas', 'chevron-left']"
          style="font-size: 24px"
        /><font-awesome-icon icon="chevron-right" style="font-size: 24px" /> -->
      </div>
    </div>
    <div class="days">
      <Day v-for="d in days" :key="d" :day="d[1]" :number="d[0]" />
    </div>
  </div>
</template>

<script>
import data from '~/static/data.json'
export default {
  data: () => {
    return { currentMonth: 2, currentDay: 16, currentYear: 2021, data }
  },
  computed: {
    month() {
      return Object.keys(this.data[this.currentYear])[this.currentMonth]
    },
    days() {
      return Object.entries(this.data['2021'].Fevrier)
    },
  },
}
</script>

<style lang="scss">
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
</style>
