<template>
  <div class="date-picker">
    <h2 class="date-picker-title">{{ title }}</h2>
    <div class="options">
      <div class="date-picker-date">
        <DisplayValue title="Date" :value="date" />
        <Calendar />
      </div>
      <!-- <div class="date-picker-time">
        <DisplayValue title="Time" :value="time" />
        <TimePicker v-model="time" />
      </div> -->
    </div>
    <div class="buttons">
      <Button text="Schedule" />
      <Button text="Cancel" :light="true" />
    </div>
  </div>
</template>

<script>
export default {
  props: { title: { type: String, default: 'Schedule response' } },
  data: () => {
    return {
      date: '09/04/2021',
      time: '01:00 AM',
    }
  },
}
</script>

<style lang="scss">
.date-picker {
  position: relative;
  top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;

  .date-picker-title {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 24px;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
</style>
