<template>
  <div class="day">{{ number }}</div>
</template>

<script>
export default {
  props: {
    day: { type: String, required: true },
    number: { type: Number, required: true },
  },
}
</script>

<style lang="scss">
.day {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
