<template>
  <div class="display-value">
    <p class="title">{{ title }} :</p>
    <p class="value">{{ value }}</p>
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    value: { type: String, required: true },
  },
}
</script>

<style lang="scss">
.display-value {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    margin: 0;
    margin-right: 8px;
  }

  .value {
    margin: 0;
    background-color: #bdc3c7;
    border-radius: 5px;
    padding: 5px;
  }
}
</style>
