<template>
  <div class="input-date">
    <input
      id="date"
      :value="selectedDate"
      type="datetime-local"
      name="date-picker"
      @click.prevent="toggleInput"
    />
    <DatePicker v-model="selectedDate" v-show="clicked" />
  </div>
</template>

<script>
export default {
  props: { value: { type: Date, required: true } },
  data: () => {
    return {
      selectedDate: new Date(),
      clicked: false,
    }
  },
  methods: {
    toggleInput() {
      this.clicked = !this.clicked
    },
  },
}
</script>

<style lang="scss">
.input-date {
  position: relative;
}
</style>
