<template>
  <div class="time-picker">
    <input
      id="appt"
      type="time"
      name="time"
      required
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: { type: String, required: true },
  },
}
</script>

<style></style>
